header>div:first-child
{
	
	display: inline-block;
	background: url(../img/icon.png) no-repeat;
	width: 175px;
	height: 50px;
}
header>div:last-child
{
	display: inline-block;
	font-weight: 600;
	font-size: 20px;
	height: 50px;
	position: absolute;
	top:20px;
}
header
{
	box-shadow: black 5px 5px;
}
main
{
	margin-top: 50px;
	margin-left: 450px;
}
main>div:not(.box1)
{
	padding: 10px 20px;
	width:300px;
	border: 1px #999999 solid;
}
.cheakbox1
{
	position:relative ;
	top: 10px;
	left: -10px;
}
.submit1
{
	width: 350px;
	margin-left: 450px;
	margin-top: 20px;
	background-color: red;
	color: white;
	font-weight: 600px;
}
dd
{
	display: inline-block;
	width: 300px;
	height: 30px;
}
span
{
	position: relative;
	top: 3px;
	display: inline-block;
	width: 17px;
	height: 17px;
	
}
.box1
{
	margin-left: 10px;
	border: none;
}
